.DS_Store
/app/app/src/main/UWPreloader/nbproject/private/
/app/app/src/main/UWPreloader/build/
/app/app/src/main/UWPreloader/dist/
/app/app/src/main/10TalesGreenDAOGenerator/nbproject/private/
app/app/libs/aFileDialog/FileDialog/build/intermediates/manifest/tmp
strings_private.xml
MyDaoGenerator.jar
com.door43.tools.reporting.iml
