<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="peejweej.sideloading" >

    <application
        android:allowBackup="true"
        android:label="@string/app_name" >

        <activity
            android:name=".activities.SideLoadActivity"
            android:theme="@style/MainTheme"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".activities.SideShareActivity"
            android:theme="@style/MainTheme"
            android:label="@string/title_activity_side_share" >
        </activity>

        <activity
            android:name=".activities.FileFinderActivity"
            android:theme="@style/MainTheme"
            android:label="@string/title_activity_side_share" >
        </activity>

    </application>

</manifest>
